.about_flex {
  display: flex;
  justify-content: space-evenly;
}
.about_h2 {
  margin-left: 15%;
  margin-bottom: 90px;
  margin-top: 20px;
  font-size: 28px;
}
.about_img {
  height: 353px;
  width: 353px;
  object-fit: cover;
  box-shadow: -6px 6px 6px #8c52ff;
}

.about_h3 {
  width: 350px;
  height: 106px;
  font-size: 35px;
  line-height: 52px;
  color: #000000;
}

.about_p {
  width: 514px;
  height: 190px;

  line-height: 20px;
  color: #1f0045;
  margin-top: 20px;
}

.about_button {
  margin-left: 100px;
  margin-top: 20px;
}

.about_btn {
  width: 56px;
  height: 56px;
  border: 3px solid #8c52ff;
  padding-bottom: 15px;
  border-radius: 100%;
  margin-right: 15px;
  color: #8c52ff;
  font-size: 35px;
  text-align: center;
  background-color: #fff;
}

.about_dot {
  position: relative;
  left: 400px;
  font-size: 70px;
  color: #1f0045;
}

.about_mobile_div {
  margin-bottom: 300px;
}
@media (max-width: 830px) {
  #about {
    margin-top: 450px;
  }
  .about_h2 {
    margin-left: 0;
    text-align: center;
    color: #1f0045;
  }

  .about_img {
    position: absolute;
    top: 650px;
    left: 0;
    width: 100%;
    border-radius: 0px 0px 12px 12px;
    box-shadow: none;
  }
  .about_buuton {
    display: none;
  }
  .about_dot {
    display: none;
  }
  .about_mobile_div {
    position: absolute;
    top: 930px;
    left: 10%;
  }
  .about_h3 {
    display: none;
  }
  p:nth-child(1) {
    color: #fff;
    margin-bottom: 10px;
  }
  .about_p {
    width: 90%;
  }
}
