.about_flex {
  display: flex;
  justify-content: space-evenly;
}
.about_h2 {
  margin-left: 15%;
  margin-bottom: 90px;
  margin-top: 20px;
  font-size: 28px;
}
.about_img {
  height: 353px;
  width: 353px;
  object-fit: cover;
  box-shadow: -6px 6px 6px #8c52ff;
}

.about_h3 {
  width: 350px;
  height: 106px;
  font-size: 35px;
  line-height: 52px;
  color: #000000;
}

.about_p {
  width: 514px;
  height: 190px;
  font-size: 1rem;
  line-height: 20px;
  color: #1f0045;
  margin-top: 20px;
}

.about_button {
  margin-left: 100px;
  margin-top: 20px;
}

.about_btn {
  width: 56px;
  height: 56px;
  border: 2px solid #8c52ff;
  border-radius: 100%;
  margin-right: 15px;
  color: #8c52ff;
  font-size: 40px;
  font-weight: lighter;
  padding-bottom: 5px;
}

.about_dot {
  position: relative;
  left: 400px;
  font-size: 70px;
  color: #8c52ff;
}
