.book_img {
  width: 295px;
  height: 368px;
  object-fit: cover;
  box-shadow: -6px 6px 6px #8c52ff;
}
.book {
  display: flex;
  justify-content: space-around;
}

.book_h3 {
  margin-left: 14%;
  font-size: 28px;
  margin-top: 20px;
  color: #000000;
}
.book_mobile {
  display: none;
}
.book_h5 {
  font-size: 28px;
  color: #000000;
  margin-left: 14%;
  margin-top: 10px;
  margin-bottom: 50px;
}
.book_span {
  font-size: 28px;
  color: #8c52ff;
}
.book_model_details {
  margin-top: 20px;
}
.book_model_details p {
  margin-bottom: 10px;
}

.book_dot {
  width: 400px;

  color: #ffc710;
  font-size: 2rem;
  margin-top: 20px;
  margin-left: 40px;
  letter-spacing: 5px;
}

p:nth-child(2) {
  font-size: 16px;
  color: #8c52ff;
}

.book_btn {
  background: #8c52ff;
  box-shadow: -2px 2px 11px #8c52ff;
  border-radius: 8px;
  color: aliceblue;
  width: 72px;
  height: 40px;
  border: none;
}

.book_model_details p span {
  margin-left: 100px;
}

.book div {
  margin-right: 15px;
}

@media (max-width: 830px) {
  .book_book {
    position: absolute;
    top: 1300px;
  }
  .book_h3 {
    margin: 0 auto;
    width: 70%;
    text-align: center;
    font-size: 24px;
  }
  .book_h5 {
    display: none;
  }
  .book {
    display: none;
  }
  .book_img {
    width: 75%;
    height: 400px;
    object-fit: cover;
  }
  .book_mobile {
    margin-top: 40px;
    display: block;
    margin-left: 15px;
    width: 95%;
    text-align: center;
  }
  .book_btn {
    position: absolute;
  }
  .book_place {
    margin-left: -80px;
  }
  .book_model_details {
  }
}
