.footer_flex {
  display: flex;
  justify-content: space-around;
  color: #ffffff;
  padding-top: 30px;
}

.footer {
  width: 100%;
  height: auto;
  background-color: #1f0045;
  margin-top: 50px;
  padding-bottom: 20px;
}

.footer_icons {
  padding-right: 5px;
}

.footer_name {
  font-size: 2.5rem;
  letter-spacing: 8px;
}
.footer_mobile_contact {
  display: none;
}

.footer_name:hover {
  -webkit-text-stroke: 1px #5272ff;
}

.footer_h6 {
  font-size: 1rem;
  text-align: center;
  letter-spacing: 2px;
  margin-top: 8px;
  font-weight: 100;
}
.footer_h6:hover {
  -webkit-text-stroke: 1px #5272ff;
}

@media (min-width: 759px) and (max-width: 830px) {
  .footer {
    width: 100%;
    height: auto;
    position: absolute;
    top: 3600px;
  }
  .footer_mobile {
    display: none;
  }
  .footer_mobile_contact {
    display: block;
    margin-top: 25px;
    margin-left: 0;

    margin-left: -10%;
  }
  div.footer_mobile_contact > * {
    margin-bottom: 15px;
  }
}

@media (max-width: 760px) {
  .footer {
    width: 100%;
    height: auto;
    position: absolute;
    top: 3600px;
  }
  .footer_mobile {
    display: none;
  }
  .footer_mobile_contact {
    display: block;
    margin-top: 25px;
    margin-left: 0;

    margin-left: -10%;
  }
  div.footer_mobile_contact > * {
    margin-bottom: 15px;
  }
  .footer_h6 {
    margin-left: -10%;
  }
}
