.footer_flex {
  display: flex;
  justify-content: space-around;
  color: #ffffff;
  padding-top: 30px;
}

.footer {
  width: 100%;
  height: 200px;
  background-color: #1f0045;
  margin-top: 130px;
}

.footer_icons {
  padding-right: 5px;
}

.footer_name {
  font-size: 2.5rem;
  letter-spacing: 8px;
}

.footer_name:hover {
  -webkit-text-stroke: 1px #5272ff;
}

.footer_h6 {
  font-size: 1rem;
  text-align: center;
  letter-spacing: 2px;
  margin-top: 8px;
  font-weight: 100;
}
.footer_h6:hover {
  -webkit-text-stroke: 1px #5272ff;
}
