.main {
  display: flex;
  justify-content: space-evenly;
  margin-top: 150px;
}

.main_img {
  height: 353px;
  width: 353px;
  object-fit: cover;
  box-shadow: -6px 6px 6px #8c52ff;
}
.main_h3 {
  width: 402px;
  height: 106px;
  font-style: normal;

  font-size: 35px;
  line-height: 52px;
  color: #1f0045;
}
.main_p1 {
  width: 503px;
  height: 38px;
  margin-top: 30px;
  font-size: 16px;
  line-height: 19px;
  color: #1f0045;
}

.main_p2 {
  width: 450px;
  height: 19px;
  margin-top: 30px;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}
.main_btn {
  width: 308px;
  height: 60px;
  margin-top: 50px;
  background: #8c52ff;
  box-shadow: -5px 5px 22px #8c52ff;
  border-radius: 8px;
  border: none;

  font-size: 1.5rem;
  line-height: 28px;
  color: #ffffff;
}

.main_dot {
  width: 400px;

  color: #ffc710;
  font-size: 2rem;
  margin-top: 80px;
  margin-left: 40px;
  letter-spacing: 5px;
}
