@import "normalize";
@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:wght@700&display=swap");
@import "./CSS/Header.css";
@import "./CSS/Main.css";
@import "./CSS/About.css";
@import "./CSS/BookModels.css";
@import "./CSS/HowItWorks.css";
@import "./CSS/Pricing.css";
@import "./CSS/Join.css";
@import "./CSS/Comments.css";
@import "./CSS/Footer.css";
@import "./CSS/Login.css";
@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto+Slab:wght@100;400;600&family=Roboto:wght@100&display=swap");

*,
html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Pacifico", cursive;
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Slab", serif;
}
